body{
    width: 60%;
    margin: auto;
    border: 1px solid black;
}
h1{
    text-align: center;
}
#form{
    height: 50%;
    width: 100%;
}
#form{
    height: 50%;
    width: 100%;
}

#desc{
    width: 100%;
    height: 5rem;
}

.selects{
    width: 100%;
    height: 7rem;;
    border: 0.5px solid black;
}
.selects .category,#todo-app{
    height: 100%;
    display: inline-block;
    width:48%;
    margin: 1px;
    height: 100%;
}

.category select{
    font-size: 1rem;
    height: 99%;
    text-align: right;
    width: 100%;
    margin-left: 0%;
    border-style: none
    border-right:1px solid black;
}

.buttons{
    height: 8rem;
    width: 100%;

}

.buttons .Tasks{
    display: inline-block;
    height: 100%;
    width:49%;
}
#todo-app #date{
    font-size: 1.5rem;
    height: 90%;
    margin-left:0%;
    width: 50%;
    border-style: none;

}
.Tasks button{
    margin-top:2%;
    width: 50%;
    height: 70%;
    color: white;
    font-size: 1.5rem;
    background-color: red;
    border-style: none;
}

#add{
margin-left: 50%;
background-color: gray;

}

#availabe_tasks{
    margin-top: 5%;
    height: auto;
    width: 100%;
    border-bottom: 1px solid gray;
}
#availabe_tasks ul{
    list-style: none;
}
#availabe_tasks ul li{
    width: 105%;
    margin-left: -5.5%;
    border-top: 1px solid gray;
    line-height: 2rem;
}

#availabe_tasks #items{
    display: inline-block;
}
#availabe_tasks #items input{
    display: inline-block;
}

#availabe_tasks #todo-list{
    display: inline-block;
    height: 4rem;
    width: 40%;

}
