body{
    width: 60%;
    margin: auto;
    border: 1px solid black;
    z-index: 1;
}
/*STyle for heading TODO list*/
h1{
    text-align: center;
    color:gray;
}
/*Height and width common for all forms*/
#form{
    height: 50%;
    width: 100%;
}

/* Height and width of the description*/
#desc{
    width: 100%;
    height: 5rem;
    border: 1px 0px;
}
/*---------------------------------------------------------------------------------------------------*/
/*The section which displays the the category drop down list and the date*/
.selects{
    width: 100%;
    height: 7rem;;
    border: 0.1px solid black;
}

/*Style for category and date drop downs*/
.selects .category,#todo-app{
    height: 100%;
    display: inline-block;
    width:48%;
    margin: 1px;
    height: 100%;
}
/*Height and width of category drop downs*/
.category select{
    font-size: 1rem;
    height: 98%;
    text-align: right;
    width: 100%;
    margin-left: 0%;
    border-style: none
}

/*Style common for all buttons*/
.buttons{
    height: 8rem;
    width: 100%;

}
/*To display divs enclosing buttons inline-block*/
.buttons .Tasks{
    display: inline-block;
    height: 100%;
    width:49%;
}
#todo-app #date{
    font-size: 1.5rem;
    height: 90%;
    margin-left:0%;
    width: 50%;
    border-style: none;

}
.Tasks button{
    margin-top:3%;
    width: 50%;
    height: 70%;
    color: white;
    font-size: 1.5rem;
    background-color: red;
    border-style: none;
}

#add{
margin-left: 50%;
background-color: gray;

}
/*---------------------------------------------------------------------------------------------------*/
/* Section which prints the tasks from the DB*/
#availabe_tasks{
    margin-top: 5%;
    height: 400px;
    width: 100%;
    border-bottom: 1px solid gray;
}
/*remove default style of list*/
#availabe_tasks ul{
    height: 100%;
    list-style: none;
    overflow-y: scroll;
}
/*To expand the list to the width of the form*/
#availabe_tasks ul li{
    width: 105%;
    margin-left: -5.5%;
    border-top: 1px solid gray;
    line-height: 1rem;
}

#availabe_tasks #items{
    display: inline-block;
}
#availabe_tasks #items input{
    display: inline-block;
}

#availabe_tasks #todo-list{
    display: inline-block;
    height: 4rem;
    width: 40%;

}

.fa-plus{
    color: white;
    font-size: 1.2rem;
}

.fa-trash{
    color: white;
    font-size: 1.2rem;
}

.fa-calendar-times{
    font-size: 1.2rem;
}